In [1]:
import pandas as pd
import sys
sys.path.append("../src")
import data_cleaning as dc

file_path = "../data/online_retail.csv"
save_path = "../data/online_retail_clean.csv"

df = dc.load_data(file_path)
df = dc.assess_data(df)
df = dc.handle_duplicates(df)
df = dc.handle_missing_customer_id(df)
df = dc.remove_cancelled_orders(df)
df = dc.remove_zero_price(df)
df = dc.remove_non_product_codes(df)
df = dc.remove_negative_quantity(df)
df = dc.add_total_price(df)
df = dc.add_date_columns(df)
df = dc.convert_data_types(df)
dc.save_cleaned_data(df, save_path)

Data Loaded successfully!
   Invoice StockCode                          Description  Quantity  \
0  489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
1  489434    79323P                   PINK CHERRY LIGHTS        12
2  489434    79323W                  WHITE CHERRY LIGHTS        12
3  489434     22041         RECORD FRAME 7" SINGLE SIZE         48
4  489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24

           InvoiceDate  Price  Customer ID         Country
0  2009-12-01 07:45:00   6.95      13085.0  United Kingdom
1  2009-12-01 07:45:00   6.75      13085.0  United Kingdom
2  2009-12-01 07:45:00   6.75      13085.0  United Kingdom
3  2009-12-01 07:45:00   2.10      13085.0  United Kingdom
4  2009-12-01 07:45:00   1.25      13085.0  United Kingdom

=== DataFrame Information ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  object
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.1+ MB
None

=== Statistical Summary ===
        Invoice StockCode                         Description      Quantity  \
count   1067371   1067371                             1062989  1.067371e+06
unique    53628      5305                                5698           NaN
top      537434    85123A  WHITE HANGING HEART T-LIGHT HOLDER           NaN
freq       1350      5829                                5918           NaN
mean        NaN       NaN                                 NaN  9.938898e+00
std         NaN       NaN                                 NaN  1.727058e+02
min         NaN       NaN                                 NaN -8.099500e+04
25%         NaN       NaN                                 NaN  1.000000e+00
50%         NaN       NaN                                 NaN  3.000000e+00
75%         NaN       NaN                                 NaN  1.000000e+01
max         NaN       NaN                                 NaN  8.099500e+04

                InvoiceDate         Price    Customer ID         Country
count               1067371  1.067371e+06  824364.000000         1067371
unique                47635           NaN            NaN              43
top     2010-12-06 16:57:00           NaN            NaN  United Kingdom
freq                   1350           NaN            NaN          981330
mean                    NaN  4.649388e+00   15324.638504             NaN
std                     NaN  1.235531e+02    1697.464450             NaN
min                     NaN -5.359436e+04   12346.000000             NaN
25%                     NaN  1.250000e+00   13975.000000             NaN
50%                     NaN  2.100000e+00   15255.000000             NaN
75%                     NaN  4.150000e+00   16797.000000             NaN
max                     NaN  3.897000e+04   18287.000000             NaN

=== Missing Values ===
Invoice             0
StockCode           0
Description      4382
Quantity            0
InvoiceDate         0
Price               0
Customer ID    243007
Country             0
dtype: int64

Number of duplicate rows are: 34335
Duplicate values removed. New shape is: (1033036, 8)
Number of rows missing customer id : 235151
Remove misssing customer id rows. New shape is : (797885, 8)
Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

Number of cancelled orders: 18390
Remove cancelled orders. New shape is : (779495, 8)

Number of zero price rows: 70
Zero price rows removed. New shape: (779425, 8)

Number of non product rows: 2779
Non product rows removed. New shape: (776646, 8)

Number of negative or zero Quantity: 0
Negative or zero quantity rows removed. New shape: (776646, 8)

TotalPrice column added. New shape: (776646, 9)
   Quantity  Price  TotalPrice
0        12   6.95        83.4
1        12   6.75        81.0
2        12   6.75        81.0
3        48   2.10       100.8
4        24   1.25        30.0

Date columns added. New shape: (776646, 13)
          InvoiceDate  Year  Month  DayOfWeek  HourOfDay
0 2009-12-01 07:45:00  2009     12          1          7
1 2009-12-01 07:45:00  2009     12          1          7
2 2009-12-01 07:45:00  2009     12          1          7
3 2009-12-01 07:45:00  2009     12          1          7
4 2009-12-01 07:45:00  2009     12          1          7

Final Data Types:
Invoice                object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
Price                 float32
Customer ID             int64
Country                object
TotalPrice            float32
Year                    int32
Month                   int32
DayOfWeek               int32
HourOfDay               int32
dtype: object

Final Shape: (776646, 13)
Cleaned data saved to 'online_retail_clean.csv'.